<template>
  <div class="wrapper">
    <nuxt />
  </div>
</template>
<script>
export default {
  middleware: "frontend/auth",
};
</script>
<style scoped>
.wrapper {
  background-image: url("~@/assets/background.jpg");
  height: 100vh;
  width: 100%;
  position: relative;
}
</style>