<template>
  <div class="flex-column">
    <Navbar />
    <div class="flex-row full-in-flex">
      <div class="full-in-flex">
        <nuxt />
      </div>
      <Ranking />
    </div>
  </div>
</template>
<script>
export default {
  middleware: "auth",
};
</script>
<style lang="scss" src="~/assets/frontend/scss/style.scss"></style>
