<template>
  <div class="flex-row p-4 as-parent">
    <div class="full-in-flex pl-5 pr-5">
      <h3 class="mb-5">{{ quiz.name }}</h3>
      <p class="text-title">Độ khó: {{ quiz.stat.difficult }}</p>
      <div class="content-body box-shadow">
        <p>{{ quiz.content }}</p>
      </div>
      <div class="flex mt-4 mb-4 my-tab">
        <div :class="classes('upload')" @click="chooseMethod('upload')">
          <p>Tải lên file của bạn</p>
        </div>
        <div :class="classes('editor')" @click="chooseMethod('editor')">
          <p>Editor online</p>
        </div>
        <div :class="classes('testcase')" @click="chooseMethod('testcase')">
          <p>Đáp án</p>
        </div>
        <div class="empty"></div>
      </div>
      <b-form-select
        class="optionLanguage"
        v-model="languageSelected"
        :options="listLanguage"
      ></b-form-select>
      <b-form-file
        v-model="fileAnswer"
        :state="Boolean(fileAnswer)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
        class="mt-5"
        v-show="methodAnswer == 'upload'"
      ></b-form-file>
      <div v-show="methodAnswer == 'editor'">
        <section class="container">
          <no-ssr placeholder="Codemirror Loading...">
            <codemirror
              v-model="code"
              :options="cmOption"
              @cursorActivity="onCmCursorActivity"
              @ready="onCmReady"
              @focus="onCmFocus"
              @blur="onCmBlur"
            >
            </codemirror>
          </no-ssr>
        </section>
      </div>
      <div v-show="methodAnswer == 'testcase'">
        <b-row cols="2">
          <b-col sm="6">
            <h6>Input</h6>
          </b-col>
          <b-col sm="6">
            <h6>Output</h6>
          </b-col>
        </b-row>
        <hr />
        <div
          v-for="(item, index) in testcase"
          :key="index"
          class="flex mt-3 mb-3"
        >
          <b-col sm="6">
            <b-form-textarea
              type="text"
              :value="item.input"
              no-auto-shrink
              max-rows="10"
              disabled
            ></b-form-textarea>
          </b-col>
          <b-col sm="6">
            <b-form-textarea
              type="text"
              :value="item.output"
              no-auto-shrink
              max-rows="10"
              disabled
            ></b-form-textarea>
          </b-col>
          <div></div>
        </div>
      </div>
      <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
      <div class="mb-4 mt-3">
        <b-button
          variant="primary"
          @click="submit"
          v-if="methodAnswer == 'upload' || methodAnswer == 'editor'"
          >Nộp bài</b-button
        >
      </div>
      <h4 class="mt-5 mb-4">Các bài đã nộp</h4>
      <div>
        <CustomTable striped hover :items="listSubmit"></CustomTable>
      </div>
    </div>
    <Ranking :list="listRanking" />
  </div>
</template>
<script>
export default {
  layout: "frontend/default",
  async asyncData({ params, $repositoryFactory }) {
    let quiz = await $repositoryFactory.quiz.get({ id: params.id });
    let dataSubmit = await $repositoryFactory.submit.getByQuiz({
      id: params.id,
    });
    let listRanking = await $repositoryFactory.quiz.rankingByQuiz({
      id: params.id,
    });
    let listLanguage = await $repositoryFactory.quiz.getLanguage();
    try {
      await $repositoryFactory.quiz.join({
        quizId: params.id,
      });
    } catch (err) {}
    return {
      quiz: quiz.data.quiz,
      testcase: quiz.data.quiz.test_cases,
      listSubmit: dataSubmit.data.submits,
      listRanking: listRanking.data.ranking,
      listLang: listLanguage.data,
    };
  },
  data() {
    return {
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      language: {
        c: "text/x-csrc",
        js: "text/javascript",
        py: "text/x-python",
        go: "text/x-go",
      },
      methodAnswer: "upload",
      fileAnswer: null,
      languageSelected: null,
      listLanguage: [],
      code: "",
    };
  },
  mounted() {
    this.listLanguage.push({
      value: null,
      text: "Hãy chọn ngôn ngữ",
    });
    this.listLang.forEach((item) => {
      this.listLanguage.push({
        value: item,
        text: item,
      });
    });
  },

  methods: {
    onCmCursorActivity(codemirror) {
      console.log("onCmCursorActivity", codemirror);
    },
    onCmReady(codemirror) {
      console.log("onCmReady", codemirror);
    },
    onCmFocus(codemirror) {
      console.log("onCmFocus", codemirror);
    },
    onCmBlur(codemirror) {
      console.log("onCmBlur", codemirror);
    },

    chooseMethod(methods) {
      this.methodAnswer = methods;
    },

    classes(methods) {
      if (methods == this.methodAnswer) return "mytabs mytabs-active";
      return "mytabs mytabs-inactive";
    },

    async submit() {
      if(this.languageSelected == null){
        this.showAlert++;
        this.alertMessage = "Hãy chắc chắn rằng bạn đã chọn ngôn ngữ";
        this.typeAlert = "warning";
      }
      if (this.methodAnswer == "editor") {
        this.fileAnswer = this.$store.$helper.createFile(
          this.code,
          "code.js",
          this.languageSelected
        );
      }
      let formData = new FormData();
      formData.append("file", this.fileAnswer);
      formData.append("language", this.languageSelected);
      // formData.append("user_quiz", "5fadeb3db2de4f60def024f9");

      try {
        let result = await this.$store.$repositoryFactory.submit.submit({
          formData: formData,
          quiz_id: this.quiz._id,
        });
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Đã lưu thay đối";
          this.typeAlert = "success";
          this.listSubmit.push(result.data.submit);
        } else {
          this.showAlert++;
          this.alertMessage = result.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = "Đã có lỗi xảy ra, hãy thử submit lại.";
        this.typeAlert = "warning";
      }
    },
  },
  computed: {
    cmOption() {
      return {
        tabSize: 4,
        foldGutter: true,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        keyMap: "sublime",
        mode: this.language[this.languageSelected],
        theme: "base16-dark",
        extraKeys: {
          F11(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          },
          Esc(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          },
        },
      };
    },
  },
  watch: {
    languageSelected: function(){
      let index = this.quiz.templates.findIndex(
        (m) => m.lang == this.languageSelected
      );
      if (index >= 0) {
        this.code = this.quiz.templates[index].content;
      }else{
        this.code = "";
      }
    }
  }
};
</script>
<style scoped>
.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: left;
}
.optionLanguage {
  width: 200px;
}
</style>