<template>
  <div class="flex-row p-4 as-parent">
    <div class="full-in-flex pl-5 pr-5">
      <h4 class="mb-4">{{ topic.name }}</h4>
      <div>
        <table class="table">
          <tfoot>
            <tr class="header-table">
              <th
                v-for="(header, index) in fields"
                :key="index"
                class="white-text"
              >
                {{ header }}
              </th>
            </tr>
            <tr
              v-for="(item, index) in items"
              :key="index"
              class="myrow"
              @dblclick="gotoDetail(item._id)"
            >
              <td>{{ index }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ renderDate(item.updated_at) }}</td>
              <td>{{ renderStatus(item.status) }}</td>
              <td :style="{ width: '10%' }">
                <span @click="gotoDetail(item._id)" v-b-modal.edit-modal
                  ><i class="fa fa-pencil color-blue icon"></i
                ></span>
                <span @click="remove(item)" v-b-modal.remove-modal
                  ><i class="fa fa-trash color-red icon"></i
                ></span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <b-button variant="outline-primary" class="mb-3" @click="clickFormAdd">{{
        adding ? "Đóng" : "Thêm"
      }}</b-button>

      <div v-show="adding">
        <b-col sm="3">
          <label :for="`type-text`">Tên câu hỏi</label>
        </b-col>
        <b-col sm="9">
          <b-form-textarea
            :id="`type-text`"
            type="text"
            v-model="name"
          ></b-form-textarea>
        </b-col>

        <b-col sm="3">
          <label :for="`type-text`">Mô tả</label>
        </b-col>
        <b-col sm="9" class="mb-3">
          <b-form-textarea
            :id="`type-text`"
            type="text"
            v-model="description"
          ></b-form-textarea>
        </b-col>

        <b-col sm="3">
          <label :for="`type-text`">Nội dung câu hỏi</label>
        </b-col>
        <b-col sm="9" class="mb-3">
          <b-form-textarea
            :id="`type-text`"
            type="text"
            v-model="content"
            min-rows="20"
            rows="13"
          ></b-form-textarea>
        </b-col>

        <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />

        <b-col sm="3">
          <label :for="`type-text`">Đánh giá độ khó</label>
        </b-col>
        <b-col sm="9" class="mb-3 mt-3">
          <!-- <b-form-input :id="`type-text`" type="text" v-model="stat"></b-form-input> -->
          <b-form-radio-group
            id="checkbox-group-2"
            v-model="stat"
            name="flavour-2"
          >
            <b-form-radio value="easy">Dễ</b-form-radio>
            <b-form-radio value="medium">Trung bình</b-form-radio>
            <b-form-radio value="hard">Khó</b-form-radio>
          </b-form-radio-group>
        </b-col>

        <b-col sm="3">
          <label :for="`type-text`">Số lần nộp bài tối đa</label>
        </b-col>
        <b-col sm="3">
          <b-form-input
            :id="`type-text`"
            type="number"
            v-model="limit"
          ></b-form-input>
        </b-col>

        <b-col sm="3">
          <label :for="`type-text`">Số điểm</label>
        </b-col>
        <b-col sm="3">
          <b-form-input
            :id="`type-text`"
            type="number"
            v-model="score"
          ></b-form-input>
        </b-col>

        <!-- <b-col sm="3">
          <label :for="`type-text`">Thời gian làm bài (phút)</label>
        </b-col>
        <b-col sm="3">
          <b-form-input
            :id="`type-text`"
            type="number"
            v-model="timeout"
          ></b-form-input>
        </b-col> -->

        <b-button variant="success" class="mt-3" @click="add">Thêm</b-button>
      </div>
    </div>
    <div class="chart-area">
      <b-row class="mb-4 justify-content-md-right">
        <b-col sm="4" align-self="end" align-content="end">
          <label :for="`type-text`">Chọn Năm:</label>
        </b-col>
        <b-col sm="6">
          <b-form-input
            :id="`type-text`"
            type="number"
            v-model="yearChart"
            v-on:keyup.enter="statistic"
          ></b-form-input>
        </b-col>
      </b-row>
      <Chart :submit="submit" :pass="pass" :key="keyChart" />
    </div>
    <b-modal id="remove-modal" ref="remove-modal" title="Xóa" hide-footer>
      <h5>Bạn có muốn xóa câu hỏi này</h5>

      <b-button class="mt-3" variant="outline-danger" block @click="allowRemove"
        >Xóa</b-button
      >
      <b-button class="mt-2" variant="outline-primary" block @click="cancel"
        >Đóng</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {
  layout: "admin/default",
  async asyncData({ $repositoryFactory, params }) {
    let data = await $repositoryFactory.quiz.getByTopic({ id: params.id });
    let topic = await $repositoryFactory.topic.getById({ id: params.id });
    let today = new Date();
    let dataChart = await $repositoryFactory.topic.statistic({ id: params.id, year: today.getFullYear()});
    return {
      items: data.data.quizzes,
      submit: dataChart.submit,
      pass: dataChart.pass,
      topic: topic.data.data.topic,
    };
  },
  data() {
    return {
      fields: [
        "stt",
        "Câu hỏi",
        "Miêu tả câu hỏi",
        "Cập nhật",
        "Trạng thái",
        "",
      ],
      adding: false,
      textButton: "Thêm ",
      name: "",
      description: "",
      content: "",
      stat: "easy",
      limit: 1,
      yearChart: null,
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      keyChart: 0,
      score: 100,
      timeout: 0,
    };
  },
  created() {
    var now = new Date();
    this.yearChart = now.getFullYear();
  },
  methods: {
    renderStatus(status) {
      return status == "active" ? "Hoạt động" : "Ẩn";
    },

    renderDate(date) {
      if (!date) {
        return "";
      }
      return this.$store.$helper.dateToString(date);
    },

    clickFormAdd() {
      this.adding = !this.adding;
    },

    async add() {
      let data = {
        id: this.items.length,
        name: this.name,
        description: this.description,
        content: this.content,
        topic: this.topic._id,
        stat: {
          difficult: this.stat,
          score: this.score,
        },
        limit: {
          submit: this.limit,
          timeout: this.timeout,
        },
      };
      try {
        let result = await this.$store.$repositoryFactory.quiz.add(data);
        if (result.success) {
          this.showAlert++;
          this.alertMessage = "Thêm thành công";
          this.typeAlert = "success";
          this.adding = false;
          this.items.push(result.data.quiz);

          this.content = "";
          this.name = "";
          this.description = "";
          this.score = 10;
          this.limit = 3;
        } else {
          this.showAlert++;
          this.alertMessage = result.message;
          this.typeAlert = "warning";
        }
      } catch (error) {
        console.log(error);
        this.showAlert++;
        this.alertMessage = error.message;
        this.typeAlert = "warning";
      }
    },

    async statistic() {
      let data = await this.$store.$repositoryFactory.topic.statistic({
        year: this.yearChart,
        id: this.topic._id
      });
      if (data.success) {
        this.submit = data.submit;
        this.pass = data.pass;
        this.keyChart++;
      }
    },

    gotoDetail(id) {
      this.$router.push(`/admin/quiz/${id}`);
    },

    remove(quiz) {
      this.quizChoosed = quiz;
    },

    async allowRemove() {
      let data = await this.$store.$repositoryFactory.quiz.delete({
        id: this.quizChoosed._id,
      });

      this.$refs["remove-modal"].hide();
      if (data.success) {
        let index = this.items.findIndex((m) => m._id == this.quizChoosed._id);
        this.items.splice(index, 1);
        this.showAlert++;
        this.alertMessage = "Xóa thành công";
        this.typeAlert = "success";
      } else {
        this.showAlert++;
        this.alertMessage = data.message;
        this.typeAlert = "warning";
      }
    },

    cancel() {
      this.$refs["remove-modal"].hide();
    },
  },
};
</script>