<template>
  <div class="form">
    <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
    <div>
      <div class="elem-flex-center">
        <h2>Đăng ký</h2>
      </div>

      <input
        type="email"
        class="inputLogin"
        v-model="email"
        placeholder="Email"
      />

      <input
        type="password"
        class="inputLogin"
        placeholder="Mật khẩu"
        name="password"
        v-model="password"
      />
      <div class="elem-flex-center mb-3">
        <button variant="success" class="btnLogin" @click="onSubmit">
          Đăng ký
        </button>
      </div>
    </div>
    <b-link href="/login" class="white-text">Đăng nhập</b-link>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  layout: "frontend/auth",
  data: () => {
    return {
      email: "",
      password: "",
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
    };
  },
  methods: {
    ...mapActions({
      saveAuth: "frontend/auth/saveAuth",
    }),

    async onSubmit() {
      let data = {
        email: this.email,
        password: this.password,
      };
      try {
        let result = await this.$store.$repositoryFactory.user.register(data);
        if (result.success || result.status == 200) {
          this.$router.push("/login");
        }
        // else {
        //   this.showAlert++;
        //   this.alertMessage = result.message;
        //   this.typeAlert = "warning";
        // }
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
<style scoped>
.form {
  width: 450px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.72);
  font-family: "Work Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -225px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
h2 {
  font-family: "Archivo Black", sans-serif;
  color: #e0dada;
  margin-left: auto;
  margin-right: auto;
}
.info {
  width: 100%;
  padding: 1em 5px;
  text-align: center;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info.error {
  border: 1px solid #a90e00;
  background-color: #ff3c41;
  color: #a90e00;
}
.info p {
  margin: auto;
  padding: 5px;
}
.info.good {
  border: 1px solid #416d50;
  background-color: #47cf73;
  color: #416d50;
}

input {
  height: 35px;
  padding: 5px 5px;
  margin: 10px 0px;
  background-color: #e0dada;
  border: none;
}
button {
  height: 40px;
  padding: 5px 5px;
  margin: 10px 0px;
  font-weight: bold;
  background-color: #69b849;
  border: none;
  color: #e0dada;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #6ed445;
}
form {
  flex-direction: column;
}
</style>