<template>
  <div class="flex-row p-4 as-parent">
    <div class="full-in-flex pl-5 pr-5">
      <div class="header-table title-contest mb-4">
        <h3 class="white-text">
          {{ contest.name }}: Có {{ listQuiz.length }} câu hỏi
        </h3>
      </div>
      <h3 class="mb-4">{{ listQuiz[quizIndex].name }}</h3>
      <h5 class="mb-4">Độ khó: {{ listQuiz[quizIndex].stat.difficult }}</h5>
      <p>{{ listQuiz[quizIndex].content }}</p>
      <div class="flex mt-4 mb-4 my-tab">
        <div :class="classes('upload')" @click="chooseMethod('upload')">
          <p>Tải lên file của bạn</p>
        </div>
        <div :class="classes('editor')" @click="chooseMethod('editor')">
          <p>Editor online</p>
        </div>
        <div class="empty"></div>
      </div>
      <b-form-file
        v-model="file1"
        :state="Boolean(file1)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
        class="mt-5"
        v-show="methodAnswer == 'upload'"
      ></b-form-file>
      <div v-show="methodAnswer == 'editor'">
        <b-form-select
          v-model="language"
          :options="options"
          class="optionLanguage"
        ></b-form-select>
        <section class="container">
          <no-ssr placeholder="Codemirror Loading...">
            <codemirror
              v-model="code"
              :options="cmOption"
              @cursorActivity="onCmCursorActivity"
              @ready="onCmReady"
              @focus="onCmFocus"
              @blur="onCmBlur"
            >
            </codemirror>
          </no-ssr>
        </section>
      </div>
      <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
      <div class="mb-4 mt-3">
        <b-button variant="primary" @click="onSubmit">Nộp bài</b-button>
      </div>
      <h4 class="mt-5 mb-4">
        Các bài đã nộp: (Bạn có tối đa
        {{ listQuiz[quizIndex].limit.submit }} lần nộp)
      </h4>
      <div>
        <CustomTable striped hover :items="list"></CustomTable>
      </div>
      <div class="flex">
        <b-button
          variant="outline-primary"
          class="mb-4 mt-3 mr-3"
          @click="gotoNextQuiz"
          :disabled="disableNext()"
          >Câu hỏi tiếp theo</b-button
        >
        <b-button
          variant="outline-primary"
          class="mb-4 mt-3"
          :disabled="disablePrevious()"
          @click="backPreviousQuiz"
          >Trở lại câu hỏi trước</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "frontend/default",
  asyncData({ params, $repositoryFactory }) {
    let listQuiz = $repositoryFactory.quiz.getByTopic({ id: params.id });
    let dataSubmit =
      // listQuiz.length > 0 &&
      $repositoryFactory.quiz.getSubmit({
        // id: listQuiz[0].id,
        id: 0,
      });

    return {
      listQuiz: listQuiz.data,
      list: dataSubmit.data,
      contest: contest.data,
    };
  },
  data() {
    return {
      quizIndex: 0,
      options: [{ text: "javascript", value: "text/javascript" }],
      language: "text/javascript",
      code: "Hello World!",
      methodAnswer: "editor",
      file1: null,
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
    };
  },
  methods: {
    async onSubmit() {
      if (this.methodAnswer == "editor") {
        let data = "Learning how to write in a file.";

        fs.writeFile("~/answer/answer.yxy", data, (err) => {
          if (err) throw err;
        });
      } else if (this.methodAnswer == "upload") {
        let data = await this.$store.$repositoryFactory.quiz.submit({
          content: this.file1,
        });
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Đã submit";
          this.typeAlert = "success";
        }
      }
    },

    disableNext() {
      if (this.quizIndex < this.listQuiz.length - 1) {
        return false;
      }
      return true;
    },
    disablePrevious() {
      if (this.quizIndex <= 0) {
        return true;
      }
      return false;
    },

    gotoNextQuiz() {
      this.quizIndex++;
    },

    backPreviousQuiz() {
      if (this.quizIndex > 0) {
        this.quizIndex--;
      }
    },

    onCmCursorActivity(codemirror) {
      console.log("onCmCursorActivity", codemirror);
    },
    onCmReady(codemirror) {
      console.log("onCmReady", codemirror);
    },
    onCmFocus(codemirror) {
      console.log("onCmFocus", codemirror);
    },
    onCmBlur(codemirror) {
      console.log("onCmBlur", codemirror);
    },

    chooseMethod(methods) {
      this.methodAnswer = methods;
    },

    classes(methods) {
      if (methods == this.methodAnswer) return "mytabs mytabs-active";
      return "mytabs mytabs-inactive";
    },
  },
  watch: {
    quizIndex: async () => {
      let dataSubmit = await this.$store.$repositoryFactory.quiz.getSubmit({
        id: params.id,
      });
    },
  },
  computed: {
    cmOption() {
      return {
        tabSize: 4,
        foldGutter: true,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        keyMap: "sublime",
        mode: this.language,
        theme: "base16-dark",
        extraKeys: {
          F11(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          },
          Esc(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          },
        },
      };
    },
  },
};
</script>
<style scoped>
.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: left;
}
.optionLanguage {
  width: 200px;
}
.title-contest {
  min-height: 50px;
  padding: 7px;
  padding-left: 10px;
}
</style>