<template>
  <div class="flex-row p-4 as-parent">
    <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
    <div class="wrapper">
      <label for="example-datepicker">Lọc theo ngày tháng</label>
      <b-form-datepicker
        id="example-datepicker"
        v-model="dateSearch"
        class="mb-2"
      ></b-form-datepicker>
      <p>Search: {{ dateSearch }}</p>
    </div>
    <div class="full-in-flex pl-5 elem-flex-center">
      <div
        v-for="contest in list"
        :key="contest.id"
        :class="classes(contest.status)"
      >
        <CardQuizContest />
      </div>
    </div>
    <!-- <Ranking :list="listRanking" /> -->
  </div>
</template>
<script>
export default {
  layout: "frontend/default",
  async asyncData({ $repositoryFactory }) {
    let listQuiz = await $repositoryFactory.quiz.getByTopic({ id: params.id });
    let listRanking = await $repositoryFactory.topic.rankingByTopic({
      id: params.id,
    });
    try {
      await $repositoryFactory.topic.join({
        topicId: params.id,
      });
    } catch (err) {}
    return {
      listQuiz: listQuiz.data.quizzes,
      id: params.id,
      listRanking: listRanking.data.ranking,
    };
  },
  data() {
    return {
      selected: [],
      dateSearch: "",
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
    };
  },
  methods: {
    classes(status) {
      return `mb-3 box-line ${status}`;
    },
    canJoin(updateAt, expiredAt) {
      if (updateAt <= new Date() && new Date() < expiredAt) {
        return true;
      }
      return false;
    },
  },
  watch: {
    dateSearch() {
      let data = this.$repositoryFactory.topic.get({ date: this.dateSearch });
      this.list = data.data;
    },
  },
};
</script>
