<template>
  <div>
    <div class="topBodyTestCase mb-3">
      <h3 class="text-title">
        Test Case: <b-link :href="gotoQuiz">{{ quiz.name }}</b-link>
      </h3>
    </div>
    <div class="btn-create">
      <b-button
        v-if="!createNew"
        class="mr-3"
        variant="success"
        @click="openFormAdd"
        >Thêm</b-button
      >
      <b-button
        v-if="createNew"
        class="mr-3"
        variant="secondary"
        @click="openFormAdd"
        >Đóng</b-button
      >
      <b-button v-if="createNew" variant="success" @click="onAdd">Lưu</b-button>
    </div>
    <div v-if="createNew" class="flex form-new-testcase my-padding">
      <b-col sm="1">
        <h5>Input:</h5>
      </b-col>
      <b-col sm="4">
        <b-form-textarea
          :id="`type-text`"
          type="text"
          size="sm"
          v-model="inputNew"
        ></b-form-textarea>
      </b-col>
      <b-col sm="1">
        <h5>Output:</h5>
      </b-col>
      <b-col sm="4">
        <b-form-textarea
          :id="`type-text`"
          type="text"
          size="sm"
          v-model="outputNew"
        ></b-form-textarea>
      </b-col>
    </div>
    <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
    <div class="body-testcase">
      <div
        class="flex form-new-testcase my-padding form-list box-shadow-top-bottom"
      >
        <b-col sm="4">
          <h5>Input</h5>
        </b-col>
        <b-col sm="4">
          <h5>Output</h5>
        </b-col>
      </div>
      <template v-for="(item, index) in list">
        <div class="flex form-new-testcase my-padding form-list" :key="index">
          <b-col sm="4">
            <b-form-textarea
              :id="`type-text`"
              type="text"
              no-auto-shrink
              :disabled="itemId != item._id"
              v-model="item.input"
            ></b-form-textarea>
          </b-col>
          <b-col sm="4">
            <b-form-textarea
              :id="`type-text`"
              no-auto-shrink
              max-rows="15"
              type="text"
              :disabled="itemId != item._id"
              v-model="item.output"
            ></b-form-textarea>
          </b-col>
          <b-col sm="1">
            <span
              @click="edit(item)"
              v-if="itemId != item._id"
              v-b-modal.edit-modal
              ><i class="fa fa-pencil color-blue icon"></i
            ></span>
            <span
              @click="submitEdit(item)"
              v-if="itemId == item._id"
              v-b-modal.edit-modal
              ><i class="fa fa-check color-green icon"></i
            ></span>
            <span @click="remove(item._id)" v-b-modal.remove-modal
              ><i class="fa fa-trash color-red icon"></i
            ></span>
          </b-col>
          <!-- <b-col sm="1">
          <span @click="remove(item)" v-b-modal.remove-modal
            ><i class="fa fa-trash color-red icon"></i
          ></span>
        </b-col> -->
        </div>
      </template>
    </div>
  </div>
</template>
<script>
export default {
  layout: "admin/default",
  async asyncData({ $repositoryFactory, params }) {
    // let data = await $repositoryFactory.quiz.getTestCase({
    //   id: params.id,
    // });
    let quiz = await $repositoryFactory.quiz.get({
      id: params.id,
    });
    return {
      list: quiz.data.quiz.test_cases,
      quiz: quiz.data.quiz,
    };
  },
  data: () => {
    return {
      inputNew: "",
      outputNew: "",
      createNew: false,
      textButton: "Thêm",
      statusCreate: "success",
      gotoQuiz: "",
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      inputEdit: "",
      outputEdit: "",
      itemId: "",
    };
  },
  mounted() {
    this.gotoQuiz = `/admin/quiz/${this.quiz._id}`;
  },
  methods: {
    openFormAdd() {
      this.createNew = !this.createNew;
    },

    edit(item) {
      this.itemId = item._id;
      this.inputEdit = item.input;
      this.outputEdit = item.output;
    },

    async submitEdit(item) {
      try {
        let data = {
          test_case_id: item._id,
          testCase: item,
        };
        let result = await this.$store.$repositoryFactory.quiz.editTestCase(
          data
        );
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Đã lưu thay đối";
          this.typeAlert = "success";
          this.itemId = "";
        } else {
          this.showAlert++;
          this.alertMessage = result.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = err.message;
        this.typeAlert = "warning";
      }
    },

    async remove(id) {
      try {
        let result = await this.$store.$repositoryFactory.quiz.deleteTestCase({
          _id: id,
        });
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Xóa thành công";
          this.typeAlert = "success";
          let index = this.list.findIndex((elem) => elem._id == id);
          this.list.splice(index, 1);
        } else {
          this.showAlert++;
          this.alertMessage = result.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = err.message;
        this.typeAlert = "warning";
      }
    },

    async onAdd() {
      let data = {
        test_cases: [
          {
            input: this.inputNew ? this.inputNew : "",
            output: this.outputNew,
            quiz: this.quiz._id,
          },
        ],
        id: this.quiz._id,
      };
      try {
        let result = await this.$store.$repositoryFactory.quiz.createTestCase(
          data
        );
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Đã lưu thay đối";
          this.typeAlert = "success";
          this.createNew = false;
          this.list = this.list.concat(result.data.test_cases);
          // this.list = Object.assign(this.list, result.data.test_cases);
        } else {
          this.showAlert++;
          this.alertMessage = result.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = err.message;
        this.typeAlert = "warning";
      }
    },
  },
};
</script>
<style scoped>
.form-new-testcase {
  justify-content: center;
}

.list-test-case {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-title {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 100px;
  background-color: #fff;
}

.my-padding {
  padding: 10px 30px 30px 10px;
}

.btn-create {
  margin: 0 0 20px 100px;
}

.form-list {
  background-color: #fff;
}

.icon {
  font-size: 26px;
}

.elem-center {
  justify-content: center;
  align-items: center;
}

.textarea2 {
  max-height: 400px;
}

.header-table {
  background-color: #2d75bf;
  height: 40px;
}

.body-testcase {
  min-height: 500px;
  background-color: #fff;
}
</style>