<template>
  <div class="headerCategory mb-3 mt-3">
    <h2>{{category.name}}</h2>
  </div>
</template>
<script>
export default {
  props: {
    category: {
      required: true,
      default: {}
    }
  }
}
</script>
<style scoped>
.headerCategory{
  width: 200px;
  height: 60px;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
}
</style>