<template>
  <div class="p-5 as-parent">
    <div v-if="empty()">
      <h5 class="text-center text-opacity">Hãy thêm ít nhất một thể loại</h5>
    </div>
    <div v-if="!empty()">
      <!-- <div class="mb-4">
        <b-button variant="info" class="big-button" @click="gotoContest"
          >Bài kiểm tra</b-button
        >
      </div> -->
      <div v-for="(cate, index) in category" :key="index">
        <div>
          <h4>{{ cate.name }}</h4>
          <!-- <b-link v-if="cate.slug == 'contest'" href="/admin/contest"
            >Chi tiết</b-link
          > -->
        </div>
        <table class="table">
          <tfoot>
            <tr class="header-table">
              <th
                v-for="(header, index) in fields"
                :key="index"
                class="white-text"
              >
                {{ header }}
              </th>
            </tr>
            <tr
              v-for="(item, index) in items"
              :key="index"
              @dblclick="gotoTopic(item._id)"
              class="myrow"
              v-show="mappingTopic(item.category, cate._id)"
            >
              <!-- <td :style="{ width: '5%' }">{{ index }}</td> -->
              <td :style="{ width: '15%' }">{{ item.name }}</td>
              <td :style="{ width: '50%' }">{{ item.description }}</td>
              <td :style="{ width: '10%' }">
                {{ renderDate(item.updated_at) }}
              </td>
              <td :style="{ width: '10%' }">{{ renderStatus(item.status) }}</td>
              <td :style="{ width: '10%' }">
                <span @click="edit(index)" v-b-modal.edit-modal
                  ><i class="fa fa-pencil color-blue icon"></i
                ></span>
                <span @click="remove(item)" v-b-modal.remove-modal
                  ><i class="fa fa-trash color-red icon"></i
                ></span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
      <b-button variant="info" class="mb-5 mt-5" @click="clickFormAddTopic">{{
        addingTopic ? "Đóng" : "Thêm chủ đề"
      }}</b-button>

      <div v-show="addingTopic">
        <b-col sm="3">
          <label :for="`name`">Tên chủ đề</label>
        </b-col>
        <b-col sm="9">
          <b-form-textarea
            :id="`name`"
            type="text"
            v-model="nameTopic"
          ></b-form-textarea>
        </b-col>

        <b-col sm="3">
          <label :for="`category`">Loại chủ đề</label>
        </b-col>
        <b-col sm="9">
          <b-form-select
            v-model="selectedCategory"
            :options="categories"
          ></b-form-select>
        </b-col>

        <b-col sm="3">
          <label :for="`description`">Miêu tả chủ đề</label>
        </b-col>
        <b-col sm="9">
          <b-form-textarea
            :id="`description`"
            type="text"
            v-model="descriptionTopic"
          ></b-form-textarea>
        </b-col>

        <b-col sm="3">
          <label :for="`expiredTime`">Thời gian hết hạn</label>
        </b-col>
        <b-col sm="9">
          <b-form-datepicker
            id="expiredTime"
            v-model="expiredAt"
            class="mb-2"
          ></b-form-datepicker>
        </b-col>

        <b-button variant="success" class="mt-3" @click="addTopic"
          >Thêm</b-button
        >
      </div>
    </div>

    <b-modal id="edit-modal" ref="edit-modal" title="Sửa chủ đề" hide-footer>
      <b-col>
        <label :for="`type-text`">Tên chủ đề</label>
      </b-col>
      <b-col>
        <b-form-textarea
          :id="`type-text`"
          v-model="nameTopicNew"
        ></b-form-textarea>
      </b-col>

      <b-col>
        <label :for="`type-text`">Miêu tả chủ đề</label>
      </b-col>
      <b-col>
        <b-form-textarea
          :id="`type-text`"
          type="text-area"
          v-model="descriptionTopicNew"
        ></b-form-textarea>
      </b-col>

      <b-col>
        <label :for="`type-text`">Thời gian hết hạn</label>
      </b-col>
      <b-col>
        <b-form-datepicker
          id="type-text"
          v-model="expiredDateNew"
          class="mb-2"
        ></b-form-datepicker>
      </b-col>
      <b-button class="mt-3" variant="outline-success" block @click="allowEdit"
        >Sửa</b-button
      >
      <b-button class="mt-2" variant="outline-primary" block @click="cancel"
        >Đóng</b-button
      >
    </b-modal>
    <b-modal
      id="remove-modal"
      ref="remove-modal"
      title="Xóa chủ đề"
      hide-footer
    >
      <h5>Bạn có muốn xóa chủ đề này</h5>

      <b-button class="mt-3" variant="outline-danger" block @click="allowRemove"
        >Xóa</b-button
      >
      <b-button class="mt-2" variant="outline-primary" block @click="cancel"
        >Đóng</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {
  layout: "admin/default",
  async asyncData({ $repositoryFactory }) {
    let data = await $repositoryFactory.topic.get();
    let category = await $repositoryFactory.category.get();
    return {
      items: data.data.topics,
      category: category.data,
    };
  },
  data() {
    return {
      fields: ["Tên chủ đề", "Miêu tả", "Cập nhật", "Trạng thái", ""],
      addingTopic: false,
      textButton: "Thêm chủ đề",
      nameTopic: "",
      descriptionTopic: "",
      expiredAt: null,
      nameTopicNew: "",
      descriptionTopicNew: "",
      expiredDateNew: null,

      topicChoosed: "",
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      categories: [],
      selectedCategory: null,
    };
  },
  methods: {
    renderStatus(status) {
      return status == "active" ? "Hoạt động" : "Ẩn";
    },

    renderDate(date) {
      if (!date) {
        return "";
      }
      return this.$store.$helper.dateToString(date);
    },

    clickFormAddTopic() {
      this.addingTopic = !this.addingTopic;
    },

    async addTopic() {
      let topic = {
        name: this.nameTopic,
        description: this.descriptionTopic,
        status: "active",
        expired_at: new Date(this.expiredAt),
        updated_at: new Date(),
        category: this.selectedCategory,
        author: this.$store.state.sid,
      };
      try {
        let result = await this.$store.$repositoryFactory.topic.add(topic);
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Thêm thành công";
          this.typeAlert = "success";
          this.addingTopic = false;
          this.items.push(result.data.topic);
        } else {
          this.showAlert++;
          this.alertMessage = data.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = err.message;
        this.typeAlert = "warning";
      }
    },

    async updateData() {
      let newData = await $repositoryFactory.topic.get();
    },

    edit(index) {
      this.nameTopicNew = this.items[index].name;
      this.descriptionTopicNew = this.items[index].description;
      this.expiredDateNew = this.items[index].expired_at;
      this.topicChoosed = this.items[index];
    },

    remove(topic) {
      this.topicChoosed = topic;
    },

    async allowEdit() {
      let data = {
        name: this.nameTopicNew,
        description: this.descriptionTopicNew,
        expired_at: new Date(this.expiredDateNew),
      };
      let newItem = Object.assign(this.topicChoosed, data);
      try {
        let result = await this.$store.$repositoryFactory.topic.edit(newItem);
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Sửa thành công";
          this.typeAlert = "success";
          let index = this.items.findIndex(
            (m) => m._id == result.data.topic._id
          );
          this.items[index] = result.data.topic;
        } else {
          this.showAlert++;
          this.alertMessage = "Sửa không thành công";
          this.typeAlert = "danger";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = "Hệ thống gặp sự cố";
        this.typeAlert = "danger";
      }
      this.$refs["edit-modal"].hide();
    },

    async allowRemove() {
      let data = await this.$store.$repositoryFactory.topic.delete({
        id: this.topicChoosed._id,
      });

      if (data.success) {
        let index = this.items.findIndex((m) => m._id == this.topicChoosed._id);
        this.items.splice(index, 1);
        this.showAlert++;
        this.alertMessage = "Xóa thành công";
        this.typeAlert = "success";
      }
      this.$refs["remove-modal"].hide();
    },

    cancel() {
      this.$refs["edit-modal"].hide();
      this.$refs["remove-modal"].hide();
    },

    gotoTopic(id) {
      this.$router.push(`/admin/topic/${id}`);
    },

    gotoContest() {
      this.$router.push("/admin/contest");
    },

    mappingTopic(id1, id2) {
      return id1 === id2;
    },

    empty() {
      return this.categories.length === 0;
    },
  },
  mounted() {
    this.category.forEach((item) => {
      this.categories.push({ value: item._id, text: item.name });
    });
  },
};
</script>

<style scoped>
icon {
  z-index: 100;
}
</style>