<template>
  <div class="as-parent">
    <div class="header"><h4>Các lượt thực hiện test:</h4></div>
    <div v-for="(item, index) in listJob" :key="index" class="mt-5 mb-5 p-4">
      <h5 class="mb-3">Lần chạy thứ {{ index + 1 }}:</h5>
      <div class="flex wrapper-test-area">
        <div class="wrapper-test-case">
          <div
            v-for="(item, indexTestCase) in item.results"
            :key="contentTestCase[index].key+indexTestCase"
            :class="classes(item, index, indexTestcase)"
            @click="clickTestcase(item, index)"
          >
            <span>Testcase {{ indexTestCase + 1 }}</span>
          </div>
        </div>
        <div class="wrapper-result">
          <b-row cols="3">
            <b-col sm="4" class="column"> Dữ liệu nhập vào </b-col>
            <b-col sm="4" class="column"> Đáp án </b-col>
            <b-col sm="4" class="column"> Kết quả của bạn </b-col>
          </b-row>
          <b-row cols="3">
            <b-col sm="4">{{ contentTestCase[index] ? contentTestCase[index].input: ""}}</b-col>
            <b-col sm="4" class="area-result">{{ contentTestCase[index] ? contentTestCase[index].output: ""}}</b-col>
            <b-col sm="4" class="area-result">{{ contentTestCase[index] ? contentTestCase[index].result: ""}}</b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "frontend/default",
  async asyncData({ params, $repositoryFactory }) {
    let data = await $repositoryFactory.submit.getJob({ id: params.id });
    let contentTestCase = []
    for(let i =0; i<data.data.jobs.length; i++){
      contentTestCase.push({key: i})
    }
    return {
      listJob: data.data.jobs,
      contentTestCase: contentTestCase,
    };
  },
  data() {
    return {
      listChoosedTestcase: [],
    };
  },
  methods: {
    classes(testcase, indexJob, indexTestcase){
      let stringClass = "mb-2 ";
      if(this.contentTestCase[indexJob] == indexTestcase){
        stringClass += "test-case-choosed ";
      }
      if (testcase.is_passed) {
        stringClass += "listTestCase test-case-passes ";
      }else{
        stringClass += "listTestCase test-case-failed ";
      }
      return stringClass
    },
    clickTestcase(testcase, indexJob){
      this.contentTestCase[indexJob].input = testcase.test_input;
      this.contentTestCase[indexJob].output = testcase.test_output;
      this.contentTestCase[indexJob].result = testcase.run_output;
      this.contentTestCase[indexJob].key += 1000
    }
  },
  mounted() {
    let i = 0;
    this.listJob.forEach((aJob) => {
      if (aJob.results.length > 0) {
        this.contentTestCase.push({
          key: i,
          input: aJob.results[0].test_input,
          output: aJob.results[0].test_output,
          result: aJob.results[0].run_output,
        });
        this.listChoosedTestcase.push(0)
        i++;
      }
    });
  },
};
</script>
<style scoped>
.listTestCase {
  width: 150px;
  height: 50px;
  border-bottom: 1px solid rgb(187, 186, 186);
  padding: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

.wrapper-test-case {
  overflow-y: scroll;
  padding: 8px;
  max-height: 300px;
}

.wrapper-test-area {
  width: 90%;
  max-height: 300px;
  opacity: 5px;
  box-shadow: -2px -1px 12px 0px #d9dadb;
  border-radius: 10px;
  background-color: #fff;
}

.wrapper-result {
  min-height: 150px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.test-case-passes {
  background-color: rgb(189, 253, 194);
}

.test-case-failed {
  background-color: rgb(255, 188, 188);
}

.column{
  height: 50px;
  font-weight: 500;
}

.area-result{
  min-height: 100px;
}

.test-case-choosed{
  border: 1px solid gray
}
.header{
  width: 100%;
  height: 70px;
  padding-left: 20px;
  background-color: rgb(32 77 84);
  display: flex;
  opacity: 0.9;
  justify-content: center;
  flex-direction: column;
  color: #fff
}
</style>