<template>
  <div class="flex-row p-2 mt-4 mb-5 as-parent">
    <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
    <div class="elem-flex-top mr-5">
      <b-row class="mb-4 justify-content-md-right">
        <b-col sm="4" align-self="end" align-content="end">
          <label :for="`type-text`">Chọn Năm:</label>
        </b-col>
        <b-col sm="6">
          <b-form-input
            :id="`type-text`"
            type="number"
            v-model="yearChart"
            v-on:keyup.enter="statistic"
          ></b-form-input>
        </b-col>
      </b-row>
      <Chart :submit="chartSubmit" :pass="chartPass" :key="keyChart" />
    </div>
    <div class="full-in-flex mr-5">
      <b-row>
        <h5>Tên câu hỏi</h5>
        <b-form-textarea
          :id="`type-text`"
          type="text"
          v-model="name"
        ></b-form-textarea>
      </b-row>
      <b-row>
        <h5>Miêu tả câu hỏi</h5>
        <b-form-textarea
          :id="`type-text`"
          type="text"
          v-model="description"
        ></b-form-textarea>
      </b-row>
      <b-col sm="9" class="mb-3 mt-3">
        <b-form-radio-group
          id="checkbox-group-2"
          v-model="difficult"
          name="flavour-2"
        >
          <b-form-radio value="easy">Dễ</b-form-radio>
          <b-form-radio value="medium">Trung bình</b-form-radio>
          <b-form-radio value="hard">Khó</b-form-radio>
        </b-form-radio-group>
      </b-col>
      <b-row class="mt-4">
        <h5>Nội dung</h5>
        <b-form-textarea
          :id="`type-text`"
          type="text"
          rows="20"
          v-model="content"
        ></b-form-textarea>
      </b-row>
      <b-row sm="3" class="mt-3">
        <label :for="`type-text`">Số điểm</label>
      </b-row>
      <b-row sm="3">
        <b-form-input
          :id="`type-text`"
          type="number"
          v-model="score"
        ></b-form-input>
      </b-row>
      <b-row sm="3" class="mt-3">
        <label :for="`type-text`">Số lần nộp bài tối đa</label>
      </b-row>
      <b-row sm="3">
        <b-form-input
          :id="`type-text`"
          type="number"
          v-model="limitSubmit"
        ></b-form-input>
      </b-row>
      <b-row sm="3" class="mt-3">
        <label :for="`type-text`">Cài đặt template cho ngôn ngữ</label>
      </b-row>
      <div class="mb-4">
        <template>
          <b-row
            cols="2"
            v-for="(item, index) in listTemplate"
            :key="index"
            class="tag mb-3"
          >
            <b-col sm="12" class="flex space-between">
              <p class="mr-3">{{ item.lang }}</p>
              <div>
                <span @click="edit(index)" class="mr-2"
                  ><i class="fa fa-pencil color-blue icon"></i
                ></span>
                <span @click="remove(index)"
                  ><i class="fa fa-trash color-red icon"></i
                ></span>
              </div>
            </b-col>
            <b-col sm="12">
              <b-form-textarea
                :id="`type-text`"
                type="text"
                disabled
                v-model="item.content"
              ></b-form-textarea>
            </b-col>
          </b-row>
        </template>
      </div>
      <b-row cols="2">
        <b-col sm="3">
          <b-form-select
            v-model="languageSelected"
            :options="listLanguage"
          ></b-form-select>
        </b-col>
        <b-col sm="9">
          <b-form-textarea
            :id="`type-text`"
            type="text"
            v-model="templateNew"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <div class="mb-4">
        <b-button
          v-if="isAdding"
          variant="info"
          class="mt-3 mr-5 mybutton"
          @click="addTemplate"
          >Thêm template</b-button
        >
        <b-button
          v-if="!isAdding"
          variant="info"
          class="mt-3 mr-5 mybutton"
          @click="editting"
          >Sửa template</b-button
        >
      </div>

      <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
      <div class="mb-4">
        <b-button variant="success" class="mt-3 mr-5 mybutton" @click="onSave"
          >Lưu</b-button
        >
      </div>
      <div>
        <b-link :href="urlTestCase">Quản lý test case</b-link>
      </div>
    </div>
    <!-- <Ranking :list="listRanking" /> -->
  </div>
</template>
<script>
export default {
  layout: "admin/default",
  async asyncData({ $repositoryFactory, params }) {
    let { data } = await $repositoryFactory.quiz.get({
      id: params.id,
    });
    let quiz = data.quiz;
    let today = new Date();
    let dataChart = await $repositoryFactory.quiz.statistic(
      { id: params.id, year: today.getFullYear()}
      );
    let listLanguage = await $repositoryFactory.quiz.getLanguage();
    return {
      id: params.id,
      name: quiz.name,
      topic: quiz.topic,
      description: quiz.description,
      content: quiz.content,
      difficult: quiz.stat.difficult,
      limitSubmit: quiz.limit.submit,
      limit: quiz.limit,
      score: quiz.stat.score,
      listTemplate: quiz.templates,
      chartSubmit: dataChart.submit,
      chartPass: dataChart.pass,
      listLang: listLanguage.data,
    };
  },
  data() {
    return {
      name: "",
      content: "",
      yearChart: null,
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      keyChart: 0,
      urlTestCase: "",
      listLanguage: [],
      languageSelected: "",
      templateNew: "",
      isAdding: true,
      itemEdit: -1,
    };
  },
  mounted() {
    var now = new Date();
    this.yearChart = now.getFullYear();
    this.urlTestCase = `/admin/testcase/${this.id}`;

    this.listLanguage.push({ value: null, text: "Please select an option" });
    this.listLang.forEach((item) => {
      this.listLanguage.push({
        value: item,
        text: item,
      });
    });
  },
  methods: {
    async addTemplate() {
      let index = this.listTemplate.findIndex(
        (m) => m.lang == this.languageSelected
      );
      if (index >= 0) {
        this.showAlert++;
        this.alertMessage = "Template của ngôn ngữ đã tồn tại";
        this.typeAlert = "warning";
        return;
      }
      this.listTemplate.push({
        lang: this.languageSelected,
        content: this.templateNew,
      });
      this.languageSelected = null;
      this.templateNew = "";
    },
    async statistic() {
      let data = await this.$store.$repositoryFactory.quiz.statistic({
        year: this.yearChart,
        id: this.id
      });
      if (data.success) {
        this.chartSubmit = data.submit;
        this.chartPass = data.pass;
        this.keyChart++;
      }
    },
    async onSave() {
      let data = {
        name: this.name,
        description: this.description,
        content: this.content,
        difficult: this.difficult,
        status: "active",
        score: this.score,
        answer: this.answer,
        limit: Object.assign(this.limit, { submit: this.limitSubmit }),
        id: this.id,
        templates: this.listTemplate,
      };
      try {
        let result = await this.$store.$repositoryFactory.quiz.edit(data);
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Đã lưu thay đối";
          this.typeAlert = "success";
        } else {
          this.showAlert++;
          this.alertMessage = result.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = err.message;
        this.typeAlert = "warning";
      }
    },

    editting() {
      this.listTemplate[this.itemEdit].lang = this.languageSelected;
      this.listTemplate[this.itemEdit].content = this.templateNew;
      this.isAdding = true;
      this.itemEdit = -1;
    },

    edit(index) {
      this.templateNew = this.listTemplate[index].content;
      this.languageSelected = this.listTemplate[index].lang;
      this.itemEdit = index;
      this.isAdding = false;
    },

    remove(index) {
      this.listTemplate.splice(index, 1);
    },
  },
};
</script>
<style scoped>
.mybutton {
  width: 200px;
}

.tag {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 7px 3px 12px 0px #d9dadb;
  font-size: 17px;
  display: inline-table;
}
</style>