<template>
  <div class="ranking ml-4">
    <div class="headerRank">
      <h5>Xếp hạng(Điểm)</h5>
    </div>

    <template v-for="(item, index) in list">
      <b-row :key="index" class="ranking-row">
        <b-col sm="9">{{ item.user.name }}</b-col>
        <b-col sm="3">{{ item.score }}</b-col>
      </b-row>
    </template>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      default: [],
      required: true,
    },
  },
};
</script>
<style scoped>
.headerRank {
  width: 100%;
  height: 30;
  background-color: antiquewhite;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
</style>