<template>
  <b-alert
    :something="show"
    :show="dismissCountDown"
    dismissible
    :variant="variant"
    @dismissed="dismissCountDown = 0"
    @dismiss-count-down="countDownChanged"
    class="alert"
  >
    {{ message }}
  </b-alert>
</template>
<script>
export default {
  props: {
    show: {
      type: Number,
      default: 0,
    },
    message: {
      type: String,
      default: "",
    },
    variant: {
      type: String,
      default: "info",
    },
  },
  data() {
    return {
      dismissCountDown: 0,
      dismissSecs: 5,
    };
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      // this.dismissCountDown = this.dismissSecs
    },
  },
  beforeUpdate() {
    this.dismissCountDown = this.show;
  },
};
</script>
<style scoped>
.alert {
  position: fixed;
  z-index: 100;
  top: 70px;
  right: 50px;
}
</style>