<template>
  <div>
    <h5>{{ quiz.name }}</h5>
    <p>Thời gian bắt đầu: {{ dateToString(quiz.created_at) }}</p>
    <p>Thời gian kết thúc: {{ dateToString(topic.expired_at) }}</p>
    <p>Trạng thái: {{ quiz.status }}</p>
    <!-- <p>Số người tham gia: {{ quiz.member }}</p> -->
    <b-button
      v-if="canJoin(quiz.updated_at, topic.expired_at)"
      variant="success"
      class="fixed-right-bottom"
      @click="gotoQuiz(quiz._id)"
      >Tham gia</b-button
    >
    <b-button v-else class="fixed-right-bottom">Tham gia</b-button>
  </div>
</template>
<script>
export default {
  props: {
    quiz: {
      required: true,
    },
    topic: {
      required: true,
    },
  },
  methods: {
    dateToString(date) {
      return this.$store.$helper.convertFulldate(date);
    },

    gotoQuiz(id) {
      this.$router.push(`/quiz/${id}`);
    },

    canJoin(updateAt, expiredAt) {
      let today = new Date();
      let updateAtDate = new Date(updateAt);
      let expiredAtDate = new Date(expiredAt);
      if (updateAtDate <= today && today < expiredAtDate) {
        return true;
      }
      return false;
    },
  },
};
</script>