<template>
  <div class="mb-5 mr-4 card-topic box-shadow" @click="gotoTopic(item._id)">
    <h4 class="mb-4 title-card">{{ item.name }}</h4>
    <b-progress
      v-if="item.progress != null"
      :value="item.progress"
      max="100"
      show-progress
      animated
      variant="success"
    ></b-progress>
    <b-button variant="outline-success">Go to</b-button>
  </div>
</template>
<script>
export default {
  props: {
    type: {
      type: String,
      default: "topic",
    },
    item: {
      require: true,
      default: {},
    },
  },

  methods: {
    gotoTopic(id) {
      this.$router.push(`/${this.type}/${id}`);
    },
  },
};
</script>
