<template>
  <div>
    <h4>{{ quiz.name }}</h4>
    <p>{{ quiz.description }}</p>
    <label class="difficult">Độ khó: {{ quiz.stat.difficult }}</label>
    <b-button
      class="text-right"
      variant="outline-info"
      @click="gotoQuiz(quiz._id)"
      >Trả lời</b-button
    >
  </div>
</template>
<script>
export default {
  props: {
    quiz: {
      required: true,
    },
  },
  methods: {
    gotoQuiz(id) {
      this.$router.push(`/quiz/${id}`);
    },
  },
};
</script>