<template>
  <b-table striped hover :fields="fields" :items="list">
    <template #cell(actions)="row">
      <b-button size="sm" @click="gotoSubmitDetail(row.item.id)">
        Chi tiết
      </b-button>
    </template>
  </b-table>
</template>
<script>
export default {
  props: {
    items: {
      default: [],
      required: true,
    },
  },
  data: () => {
    return {
      fields: [
        { key: "thoi_gian_nop", label: "Thời gian nộp" },
        { key: "trang_thai", label: "Trạng thái" },
        { key: "cau_tra_loi", label: "Câu trả lời" },
        { key: "ket_qua", label: "Kết quả" },
        { key: "actions", label: "Actions" },
      ],
    };
  },
  methods: {
    gotoSubmitDetail(id) {
      this.$router.push(`/submit_detail/${id}`);
    },
  },
  computed: {
    list() {
      let listItem = [];
      this.items.forEach((item) => {
        let dateStr = this.$store.$helper.convertFulldate(item.created_at);
        var data = {
          thoi_gian_nop: dateStr,
          trang_thai: item.status,
          cau_tra_loi: item.url,
          ket_qua: item.result.score,
          id: item._id,
        };
        listItem.push(data);
      });
      return listItem;
    },
  },
};
</script>