<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <div class="flex">
        <img src="~/static/img/logo.png" class="logo-header" href="/admin" />
        <img src="~/static/img/logo1.png" class="logo1-header" href="/admin" />
      </div>
      <b-navbar-brand href="/admin">Trang chủ</b-navbar-brand>
      <b-navbar-brand href="/admin/category">Thể loại</b-navbar-brand>
      <!-- <b-navbar-brand href="/admin/contest">Phòng thi</b-navbar-brand> -->
      <!-- <b-navbar-brand href="/admin/users">Users</b-navbar-brand> -->

      <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>   -->

      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <template v-slot:button-content>
            <em>{{ username }}</em>
          </template>
          <!-- <b-dropdown-item href="#">Thông tin cá nhân</b-dropdown-item> -->
          <b-dropdown-item href="/admin" @click="signOut"
            >Đăng xuất</b-dropdown-item
          >
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      username: this.$store.state.username,
    };
  },
  methods: {
    ...mapActions({
      removeAuth: "removeAuth",
    }),

    async signOut() {
      await this.removeAuth();
    },
  },
};
</script>