<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <div class="flex">
        <img src="~/static/img/logo.png" class="logo-header" href="/admin" />
        <img src="~/static/img/logo1.png" class="logo1-header" href="/admin" />
      </div>
      <b-navbar-brand href="/">Home</b-navbar-brand>
      <!-- <template v-for="(item, index) in listCategory">
        <b-navbar-brand
          v-if="item.slug == 'contest'"
          href="/contest"
          :key="index"
          >{{ item.name }}</b-navbar-brand
        >
      </template> -->
      <!-- <b-navbar-brand href="/topic">Topic</b-navbar-brand> -->
      <!-- <b-navbar-brand href="/contest">Phòng thi</b-navbar-brand> -->

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <template v-slot:button-content>
            <em>{{ username }}</em>
          </template>
          <!-- <b-dropdown-item href="#">Thông tin cá nhân</b-dropdown-item> -->
          <b-dropdown-item href="/history">Nộp bài</b-dropdown-item>
          <b-dropdown-item href="/" @click="signOut"
            >Đăng xuất</b-dropdown-item
          >
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      username: this.$store.state.username,
      listCategory: [],
    };
  },
  async mounted() {
    try {
      let data = await this.$store.$repositoryFactory.category.get();
      if (data.success) {
        this.listCategory = data.data;
      }
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    ...mapActions({
      removeAuth: "removeAuth",
    }),

    async signOut() {
      await this.removeAuth();
    },
  },
};
</script>
