<template>
  <div class="full-screen body">
    <NavbarAdmin />
    <nuxt />
  </div>
</template>
<script>
import { URL_SERVER } from "../../contants/api";
import { mapActions } from "vuex";
export default {
  middleware: "authen",
};
</script>
<style lang="scss" src="~/assets/frontend/scss/style.scss"></style>
