td {
  overflow-wrap: break-word;
}

.body {
  background-color: #eff1f1;
}

.content-fullscreen {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: auto auto;
  // grid-gap: 10px;
}

.full-in-flex {
  flex: 1;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-body {
  width: 100%;
  min-height: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.text-title {
  font-weight: bold;
}

.myrow:hover {
  background-color: #a4a6a6;
}

.as-parent {
  height: 100%;
  width: 100%;
  flex: 1;
}

.topBodyTestCase {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 100px;
  background-color: #fff;
}

.text-opacity {
  color: #979faf;
  font-weight: 600;
}

.text-big {
  font-size: 45px;
}

.elem-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elem-flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.half-screen {
  width: 45%;
  height: 100%;
}

.card-topic {
  width: 250px;
  height: 180px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
}

.title-card {
  overflow: hidden;
  white-space: nowrap;
}

.card-topic:hover {
  transform: scale(1.05);
}

.card-contest {
  border-radius: 5px;
  padding: 5px;
}

.box-shadow {
  box-shadow: 7px 3px 12px 0px #d9dadb;
}

.box-shadow-top {
  box-shadow: 7px 3px 12px 0px #d9dadb;
}

.box-shadow-top-bottom {
  box-shadow: 7px -4px 12px 0px #d9dadb;
}

.box-shadow-big {
  box-shadow: 5px 2px 5px 3px #d9dadb;
}

.border-left{
  border-left: 2px double rgb(211, 210, 210);
}

.text-center {
  text-align: center;
  line-height: 100%;
}

.text-right {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.fixed-right-bottom {
  position: absolute;
  top: 50%;
  right: 20%;
  margin: -25px 0 0 25px;
}

.btnLogin {
  width: 100%;
}

.inputLogin {
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.backgroundCo {
  background-color: #ece9f0;
}

.chart-area {
  width: 400px;
  height: 500px;
}

.content-quiz-texta {
  height: 400px;
}

.color-blue {
  color: blue;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.white-text {
  color: #fff !important;
}

.box-line {
  position: relative;
  width: 80%;
  padding: 20px;
  padding-left: 40px;
  padding-right: 20px;
  box-shadow: 7px 3px 12px 0px #d9dadb;
  background-color: #fff;
}

.big-button {
  height: 70px;
  width: 200px;
  font-size: 30px;
  font-weight: 500;
}

.pending {
  background-color: #fff;
}

.happening {
  background-color: #ffcaca;
}

.finish {
  background-color: #dbdad7;
}

.wrapper-checkbox {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.hard {
  background-color: #f7dddd;
}

.medium {
  background-color: #f7f2e6;
}

.group-checkbox {
  position: fixed;
}

.ranking {
  width: $ranking_width;
  height: 90vh;
  padding: 5px;
  background-color: #fff;
  border: 3px solid #3f4040;
  outline: 2px solid #a4a6a6;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.header-table {
  background-color: #2d75bf;
}

.ranking-row {
  border-bottom: 0.5px solid #d1cfcf;
  width: 100%;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  height: 60px;
  margin-bottom: 20px;
  background-color: #2d75bf;
}

.my-tab {
  width: 100%;
}

.mytabs {
  height: 40px;
  align-items: center;
  padding: 10px;
}

.mytabs-inactive {
  border-bottom: 0.5px solid #d1d2d3;
}

.mytabs-active {
  border-top: 0.5px solid #d1d2d3;
  border-left: 0.5px solid #d1d2d3;
  border-right: 0.5px solid #d1d2d3;
  border-bottom: none;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.empty {
  flex: 1;
  border-bottom: 0.5px solid #d1d2d3;
}

.flex1 {
  flex: 3;
}

.space-between{
  justify-content: space-between;
}

.column-1-6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.header-title {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin-bottom: 5px;
}

.item-tag {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
