<template>
  <div class="content">
    <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
    <div class="header-section"><h4 class="white-text">Tạo phòng thi</h4></div>
    <div class="mb-3">
      <div role="group">
        <label for="input-live">Tên phòng:</label>
        <b-form-input
          id="input-live"
          ref="inputName"
          v-model="name"
          aria-describedby="input-live-help input-live-feedback"
          placeholder="Tên phòng"
          trim
        ></b-form-input>
      </div>
      <div role="group" class="mt-2">
        <label for="input-live">Mật khẩu:</label>
        <b-form-input
          id="input-live"
          v-model="password"
          type="password"
          aria-describedby="input-live-help input-live-feedback"
          placeholder="Mật khẩu"
          trim
        ></b-form-input>
      </div>
      <b-row class="mt-2">
        <b-col>
          <label for="start-datepicker">Thời gian bắt đầu</label>
          <b-form-datepicker
            id="start-datepicker"
            v-model="startDate"
            class="mb-2"
          ></b-form-datepicker>
        </b-col>
        <b-col>
          <b-time v-model="startTime" locale="en" @context="onContext"></b-time>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label for="end-datepicker">Thời gian kết thúc</label>
          <b-form-datepicker
            id="end-datepicker"
            v-model="endDate"
            class="mb-2"
          ></b-form-datepicker>
        </b-col>
        <b-col>
          <b-time v-model="endTime" locale="en" @context="onContext"></b-time>
        </b-col>
      </b-row>
      <h4>Câu hỏi</h4>
      <b-row>
        <b-col>
          <p>Chủ đề</p>
          <b-form-select
            v-model="choosedTopic"
            :options="listOptionsTopic"
            @change="onChangeTopic"
          ></b-form-select>
        </b-col>
        <b-col>
          <p>Câu hỏi</p>
          <b-form-select
            v-model="choosedQuiz"
            :options="listQuiz"
          ></b-form-select>
        </b-col>
      </b-row>
      <b-button
        v-if="!editing"
        variant="success"
        class="mt-3"
        @click="addContest"
        >Thêm phòng thi</b-button
      >
      <b-button
        v-if="editing"
        variant="warning"
        class="mt-3"
        @click="editContest"
        >Sửa phòng thi</b-button
      >
    </div>

    <div class="header-section mt-5">
      <h4 class="white-text">Danh sách phòng thi</h4>
    </div>
    <template v-for="(item, index) in list">
      <b-row :key="index" :class="classes(item.status)">
        <b-col cols="9">
          <h5>Phòng thi: {{ item.name }}</h5>
          <p>Bắt đầu: {{ dateToString(item.updated_at) }}</p>
          <p>Kết thúc: {{ dateToString(item.expired_at) }}</p>
          <p>Trạng thái: {{ item.status }}</p>
          <p>Số người tham gia: {{ item.member }}</p>
        </b-col>
        <b-col cols="3">
          <b-row class="elem-flex-center">
            <b-col>
              <b-button
                variant="primary"
                class="mt-3 button"
                @click="edit(item)"
                >Sửa</b-button
              >
            </b-col>
            <b-col>
              <b-button
                variant="danger"
                class="mt-3 button"
                @click="remove(item.id)"
                v-b-modal.remove-modal
                >Xóa</b-button
              >
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </template>

    <b-modal
      id="remove-modal"
      ref="remove-modal"
      title="Xóa chủ đề"
      hide-footer
    >
      <h5>Bạn có muốn xóa chủ đề này</h5>

      <b-button class="mt-3" variant="outline-danger" block @click="allowRemove"
        >Xóa</b-button
      >
      <b-button class="mt-2" variant="outline-primary" block @click="cancel"
        >Đóng</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {
  async asyncData({ $repositoryFactory }) {
    let listTopic = await $repositoryFactory.topic.getTopic({
      slug: "contest",
    });
    let member = await $repositoryFactory.topic.getMember();
    return {
      list: listTopic.data.data,
      listTopic: [],
      member: member,
    };
  },
  middleware: "admin/auth",
  data: () => {
    return {
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      startDate: "",
      startTime: "",
      endDate: "",
      endTime: "",
      name: "",
      password: "",
      listOptionsTopic: [],
      listQuiz: [],
      choosedTopic: "",
      choosedQuiz: "",
      choosedContest: "",
      editing: false,
    };
  },
  methods: {
    classes(status) {
      return `card-contest box-shadow-big mb-3 ${status}`;
    },

    async addContest() {
      let start = this.$store.$helper.convertDate(
        this.startDate,
        this.startTime
      );
      let end = this.$store.$helper.convertDate(this.endDate, this.endTime);
      if (start == "" || end == "") {
        this.showAlert++;
        this.alertMessage = "Hãy điền đầy đủ thông tin";
        this.typeAlert = "warning";
        return;
      }
      let id = this.list.length;
      let data = {
        id,
        name: this.name,
        password: this.password,
        updated_at: start,
        expired_at: end,
      };
      let result = await this.$store.$repositoryFactory.topic.create(data);
      if (result.status == 200) {
        this.typeAlert = "success";
      } else {
        this.typeAlert = "danger";
      }
      this.list.push(data);
      this.showAlert++;
      this.alertMessage = result.message;
    },

    async onChangeTopic(id) {
      let { data } = await this.$store.$repositoryFactory.quiz.getByTopic({
        id,
      });
      data.forEach((topic) => {
        this.listQuiz.push({ value: topic.id, text: topic.name });
      });
    },

    reset(data) {
      this.name = "";
      this.password = "";
      this.startDate = "";
      this.startTime = "";
      this.endDate = "";
      this.endTime = "";
    },

    edit(contest) {
      this.choosedContest = contest.id;
      this.name = contest.name;
      this.password = contest.password;
      this.startDate = this.$store.$helper.dateToString(contest.startTime);
      this.startTime = this.$store.$helper.dateToTime(contest.startTime);
      this.endDate = this.$store.$helper.dateToString(contest.endTime);
      this.endTime = this.$store.$helper.dateToTime(contest.endTime);
      this.editing = true;
      window.scrollTo(0, 0);
      this.$refs.inputName.focus();
    },

    remove(id) {
      this.choosedContest = id;
    },

    async editContest() {
      let start = this.$store.$helper.convertDate(
        this.startDate,
        this.startTime
      );
      let end = this.$store.$helper.convertDate(this.endDate, this.endTime);
      if (start == "" || end == "") {
        this.showAlert++;
        this.alertMessage = "Hãy điền đầy đủ thông tin";
        this.typeAlert = "warning";
        return;
      }
      let data = {
        id: this.choosedContest,
        name: this.name,
        password: this.password,
        startTime: start,
        endTime: end,
        member: [],
        quiz: this.choosedQuiz,
      };
      let result = await this.$store.$repositoryFactory.topic.edit(data);

      for (let i = 0; i < this.list.length; i++) {
        if (this.list[i].id == this.choosedContest) {
          this.list[i] = data;
          break;
        }
      }

      if (result.status == 200) {
        this.typeAlert = "success";
      } else {
        this.typeAlert = "danger";
      }
      this.showAlert++;
      this.alertMessage = result.message;
    },

    onContext(value) {
      console.log("onCOntext: ", { value });
    },

    allowRemove() {
      let result = this.$store.$repositoryFactory.topic.remove({
        id: this.choosedContest,
      });
      for (let i = 0; i < this.list.length; i++) {
        if (this.list[i].id == this.choosedContest) {
          this.list.splice(i, 1);
          break;
        }
      }
      if (result.status == 200) {
        this.typeAlert = "success";
      } else {
        this.typeAlert = "danger";
      }
      this.showAlert++;
      this.alertMessage = result.message;
      this.$refs["remove-modal"].hide();
    },

    cancel() {
      this.$refs["edit-modal"].hide();
      this.$refs["remove-modal"].hide();
    },

    dateToString(date) {
      // return this.$store.$helper.convertFulldate(date);
    },
  },
  mounted() {
    this.listTopic.forEach((topic) => {
      this.listOptionsTopic.push({ value: topic.id, text: topic.name });
    });
  },
};
</script>
<style scoped>
.content {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}
</style>