<template>
  <div class="p-4 wrapper-quiztrending">
    <h4>{{quiztrending.title}}</h4>
    <div>
      <p>
        {{quiztrending.content}}
      </p>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      quiztrending: {
        title: "Câu hỏi abcd",
        content: "Flexbox is the most modern way to center things on the page, and makes designing responsive layouts much easier than it used to be. However, it's not fully supported in some legacy browsers like Internet Explorer."
      }
    }
  }
}
</script>
<style scoped>
.wrapper-quiztrending{
  width: 100%;
  height: 80%;
  padding-right: 10px;
  
}
</style>