<template>
  <div class="flex-row p-4 as-parent backgroundCo">
    <div class="ml-5 mr-5 mt-4">
      <div>
        <template v-for="(category, index) in listCategory">
          <div :key="index" class="">
            <div class="mb-4 mt-3 flex">
              <h4 class="headerCategory">{{ category.name.toUpperCase() }}</h4>
              <span></span>
            </div>
            <div class="flex">
              <div v-for="(topic, key) in list" :key="key">
                <Card v-if="topic.category == category._id" :item="topic" />
              </div>
            </div>
          </div>
        </template>

        <!-- <div class="headerCategory mb-2 mt-1">
          <h2>Phòng thi</h2>
        </div>
        <div class="flex">
          <div v-for="(contest, key) in listContest" :key="key">
            <Card type="contest" :item="contest" />
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>
<script>
export default {
  async asyncData({ $repositoryFactory }) {
    let category = await $repositoryFactory.category.get();
    let listTopic = await $repositoryFactory.topic.get();
    return {
      listCategory: category.data,
      list: listTopic.data.topics,
    };
  },
  layout: "frontend/default",
  data() {
    return {
      listTopic: [],
      listContest: [],
    };
  },
  mounted() {
    if (!this.list) {
      return;
    }
    this.list.forEach((item) => {
      if (item.category == 1) {
        this.listTopic.push(item);
      } else if (item.category == 2) {
        this.listContest.push(item);
      }
    });
  },
};
</script>
<style scoped>
.headerCategory {
  height: 35px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid rgb(12, 110, 12);
}
.border-area {
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: rgb(247, 248, 247);
  margin-bottom: 20px;
  border-radius: 15px;
}
</style>