<template>
  <div class="flex-row p-4 as-parent">
    <h4>{{ topic.name }}</h4>
    <div class="wrapper-checkbox">
      <b-form-group label="" class="group-checkbox">
        <b-form-checkbox-group
          v-model="selected"
          :options="options"
          name="flavour-2a"
          stacked
        ></b-form-checkbox-group>
      </b-form-group>
    </div>
    <div class="full-in-flex pl-5 elem-flex-center">
      <template v-for="(quiz, index) in listQuiz">
        <div
          :key="index"
          :class="classes(quiz.stat.difficult)"
          v-show="filter(quiz.stat.difficult)"
          v-if="category.slug != 'contest'"
        >
          <card-quiz :quiz="quiz" />
        </div>
        <div
          :key="index"
          :class="classes(quiz.stat.difficult)"
          v-show="filter(quiz.stat.difficult)"
          v-if="category.slug == 'contest'"
        >
          <card-quiz-contest :quiz="quiz" :topic="topic" />
        </div>
      </template>
    </div>
    <Ranking :list="listRanking" />
  </div>
</template>
<script>
import CardQuizContest from "../../components/base/CardQuizContest.vue";
export default {
  components: { CardQuizContest },
  layout: "frontend/default",
  async asyncData({ params, $repositoryFactory }) {
    let listQuiz = await $repositoryFactory.quiz.getByTopic({ id: params.id });
    let listRanking = await $repositoryFactory.topic.rankingByTopic({
      id: params.id,
    });
    let topic = await $repositoryFactory.topic.getById({ id: params.id });
    let category = await $repositoryFactory.category.getById({
      id: topic.data.data.topic.category,
    });
    try {
      await $repositoryFactory.topic.join({
        topicId: params.id,
      });
    } catch (err) {}

    return {
      listQuiz: listQuiz.data.quizzes,
      id: params.id,
      listRanking: listRanking.data.ranking,
      topic: topic.data.data.topic,
      category: category.data.category,
    };
  },
  data() {
    return {
      selected: [], // Must be an array reference!
      options: [
        { text: "Easy", value: "easy" },
        { text: "Medium", value: "medium" },
        { text: "Hard", value: "hard" },
      ],
    };
  },
  methods: {
    classes(difficult) {
      return `mb-3 box-line ${difficult}`;
    },

    filter(difficult) {
      if (this.selected.length == 0) {
        return true;
      }
      if (this.selected.indexOf(difficult) >= 0) {
        return true;
      }
      return false;
    },
  },
};
</script>
