<template>
  <div>
    <div class="topBodyTestCase mb-3">
      <h5 class="text-opacity">Tất cả các bài nộp</h5>
    </div>
    <div class="body-history">
      <h4 class="text-big">Submissions</h4>
      <b-table striped hover :items="items">
        <template #cell(actions)="row">
          <b-button size="sm" @click="gotoQuiz(row.item.actions)">
            Chi tiết
          </b-button>
        </template>
      </b-table>
    </div>
  </div>
</template>
<script>
export default {
  layout: "frontend/default",
  async asyncData({ params, $repositoryFactory, store }) {
    let items = [];
    let listSubmit = await $repositoryFactory.submit.getByUser();
    listSubmit.data.submits.forEach((item) => {
      items.push({
        name: item.user_quiz.quiz.name,
        language: item.language,
        time:
          store.$helper.dateToTime(new Date(item.created_at)) +
          " " +
          store.$helper.dateToString(new Date(item.created_at)),
        status: item.status,
        result: item.result.score,
        actions: item.user_quiz.quiz._id,
        // "actions": item.user_quiz
      });
    });
    return {
      items,
    };
  },
  data: () => {
    return {
      listQuiz: [],
      listTopic: [],
      quizChoosed: {},
      fields: [
        { key: "name", label: "Câu hỏi" }, 
        { key: "language", label: "Ngôn ngữ" }, 
        { key: "time", label: "Thời gian" }, 
        { key: "status", label: "Trạng Thái" }, 
        { key: "result", label: "Kết Quả" }, 
        { key: "actions", label: "Actions" },
      ],
      items: [],
    };
  },
  methods: {
    gotoQuiz(id){
      this.$router.push(`/quiz/${id}`)
    }
  },
};
</script>
<style scoped>
.body-history {
  padding: 0px 15% 0px 15%;
}
</style>