<template>
  <div class="p-5 as-parent">
    <div>
      <h4>Các thể loại hiện tại</h4>
      <table class="table">
        <tfoot>
          <tr class="header-table">
            <th
              v-for="(header, index) in fields"
              :key="index"
              class="white-text"
            >
              {{ header }}
            </th>
          </tr>
          <tr v-for="(item, index) in category" :key="index" class="myrow">
            <td :style="{ width: '5%' }">{{ index }}</td>
            <td :style="{ width: '15%' }">{{ item.name }}</td>
            <td :style="{ width: '40%' }">{{ item.description }}</td>
            <td :style="{ width: '10%' }">{{ item.slug }}</td>
            <td :style="{ width: '10%' }">
              <span @click="edit(index)" v-b-modal.edit-modal
                ><i class="fa fa-pencil color-blue icon"></i
              ></span>
              <span @click="remove(item)" v-b-modal.remove-modal
                ><i class="fa fa-trash color-red icon"></i
              ></span>
            </td>
          </tr>
        </tfoot>
      </table>

      <Alert :show="showAlert" :message="alertMessage" :variant="typeAlert" />
      <b-button variant="outline-primary" class="mb-5" @click="clickFormAdd">{{
        adding ? "Đóng" : "Thêm thể loại"
      }}</b-button>

      <div v-show="adding">
        <b-col sm="3">
          <label :for="`name`">Tên thể loại</label>
        </b-col>
        <b-col sm="9">
          <b-form-input v-model="nameCategory"></b-form-input>
        </b-col>

        <b-col sm="3">
          <label :for="`description`">Miêu tả</label>
        </b-col>
        <b-col sm="9">
          <b-form-textarea
            :id="`description`"
            type="text"
            v-model="descriptionCategory"
          ></b-form-textarea>
        </b-col>

        <b-col sm="3">
          <label :for="`name`">Ký hiệu riêng</label>
        </b-col>
        <b-col sm="9">
          <b-form-input v-model="slug"></b-form-input>
        </b-col>

        <b-button variant="success" class="mt-3" @click="onAdd">Thêm</b-button>
      </div>
    </div>

    <b-modal id="edit-modal" ref="edit-modal" title="Sửa thể loại" hide-footer>
      <b-col>
        <label :for="`type-text`">Tên</label>
      </b-col>
      <b-col sm="9">
        <b-form-input v-model="nameCategoryNew"></b-form-input>
      </b-col>

      <b-col>
        <label :for="`type-text`">Miêu tả</label>
      </b-col>
      <b-col>
        <b-form-textarea
          :id="`type-text`"
          type="text-area"
          v-model="descriptionCategoryNew"
        ></b-form-textarea>
      </b-col>

      <b-col sm="3">
        <label :for="`name`">Ký hiệu riêng</label>
      </b-col>
      <b-col sm="9">
        <b-form-input v-model="slugNew"></b-form-input>
      </b-col>

      <b-button class="mt-3" variant="outline-success" block @click="allowEdit"
        >Sửa</b-button
      >
      <b-button class="mt-2" variant="outline-primary" block @click="cancel"
        >Đóng</b-button
      >
    </b-modal>
    <b-modal
      id="remove-modal"
      ref="remove-modal"
      title="Xóa chủ đề"
      hide-footer
    >
      <h5>Bạn có muốn xóa chủ đề này</h5>

      <b-button class="mt-3" variant="outline-danger" block @click="allowRemove"
        >Xóa</b-button
      >
      <b-button class="mt-2" variant="outline-primary" block @click="cancel"
        >Đóng</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {
  layout: "admin/default",
  async asyncData({ $repositoryFactory }) {
    let category = await $repositoryFactory.category.get();
    return {
      category: category.data,
    };
  },
  data() {
    return {
      fields: ["stt", "Tên thể loại", "Miêu tả", "Ký hiệu riêng", ""],
      adding: false,
      nameCategory: "",
      descriptionCategory: "",
      slug: "",
      nameCategoryNew: "",
      descriptionCategoryNew: "",
      slugNew: null,

      itemChoosed: "",
      showAlert: 0,
      alertMessage: "",
      typeAlert: "",
      categories: [],
      selectedCategory: null,
    };
  },
  methods: {
    renderDate(date) {
      if (!date) {
        return "";
      }
      return this.$store.$helper.dateToString(date);
    },

    clickFormAdd() {
      this.adding = !this.adding;
    },

    async onAdd() {
      let data = {
        name: this.nameCategory,
        description: this.descriptionCategory,
        slug: this.slug,
      };
      try {
        let result = await this.$store.$repositoryFactory.category.add(data);
        if (result.success || result.status == 200) {
          this.showAlert++;
          this.alertMessage = "Thêm thành công";
          this.typeAlert = "success";
          this.adding = false;
          this.category.push(result.data.category);
        } else {
          this.showAlert++;
          this.alertMessage = data.message;
          this.typeAlert = "warning";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = err.message;
        this.typeAlert = "warning";
      }
    },

    edit(index) {
      this.nameCategoryNew = this.category[index].name;
      this.descriptionCategoryNew = this.category[index].description;
      this.slugNew = this.category[index].slug;
      this.itemChoosed = this.category[index];
    },

    remove(item) {
      this.itemChoosed = item;
    },

    async allowEdit() {
      let data = {
        id: this.itemChoosed._id,
        name: this.nameCategoryNew,
        description: this.descriptionCategoryNew,
        slug: this.slugNew,
      };
      let newItem = Object.assign(this.itemChoosed, data);
      try {
        let result = await this.$store.$repositoryFactory.category.edit(
          newItem
        );
        if (result.success) {
          this.showAlert++;
          this.alertMessage = "Sửa thành công";
          this.typeAlert = "success";
          let index = this.category.findIndex(
            (m) => m._id == result.data.category._id
          );
          this.category[index] = result.data.category;
        } else {
          this.showAlert++;
          this.alertMessage = "Sửa không thành công";
          this.typeAlert = "danger";
        }
      } catch (err) {
        console.log(err);
        this.showAlert++;
        this.alertMessage = "Hệ thống gặp sự cố";
        this.typeAlert = "danger";
      }
      this.$refs["edit-modal"].hide();
    },

    async allowRemove() {
      try {
        let data = await this.$store.$repositoryFactory.category.delete({
          id: this.itemChoosed._id,
        });

        if (data.success) {
          let index = this.category.findIndex(
            (m) => m._id == this.itemChoosed._id
          );
          this.category.splice(index, 1);
          this.showAlert++;
          this.alertMessage = "Xóa thành công";
          this.typeAlert = "success";
        }
      } catch (err) {
        this.showAlert++;
        this.alertMessage = "Hệ thống gặp sự cố";
        this.typeAlert = "danger";
      }
      this.$refs["remove-modal"].hide();
    },

    cancel() {
      this.$refs["edit-modal"].hide();
      this.$refs["remove-modal"].hide();
    },
  },
  mounted() {
    this.category.forEach((item) => {
      this.categories.push({ value: item._id, text: item.name });
    });
  },
};
</script>

<style scoped>
icon {
  z-index: 100;
}
</style>